.title {
    font-family: sans-serif;
    text-align: center;
}

.flex {
    display: flex;
}

.flb {
    flex-direction: column;
}

.item {
    align-items: center;
}

.btn {
    padding: 20px;
    cursor: pointer;
    margin: 3px;
    border-style: solid;
    border-radius: 6px;
    background: lightseagreen;
}

.row input {
    font-size: 20px;
    padding: 35px 0;
    margin: 17px;
    border-radius: 10px;
    border-style: solid;
    background: whitesmoke;
}